<aside class="sideBar hidden">
  <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="basemap-tab" data-toggle="tab" href="#basemapGallery" role="tab" aria-controls="basemapGallery"
        aria-selected="true">
        <i class="esri-icon-basemap"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#legend" role="tab" aria-controls="legend" aria-selected="false">
        <i class="esri-icon-collection"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="layerList-tab" data-toggle="tab" href="#layerList" role="tab" aria-controls="layerList" aria-selected="false">
        <i class="esri-icon-layers"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="guide-tab" data-toggle="tab" href="#guide" role="tab" aria-controls="guide" aria-selected="false">
        <i class="fa fa-book"></i>
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">


    <!-- basemap gallery content-->
    <div class="tab-pane fade show active" id="basemapGallery" role="tabpanel" aria-labelledby="home-tab">
      <div class="tab-content-title"> ${i18n.basemapGallery} </div>
    </div>
    <!-- basemap gallery end-->
    <!-- legend content-->
    <div class="tab-pane fade" id="legend" role="tabpanel" aria-labelledby="profile-tab">
      <div class="tab-content-title">${i18n.legend}</div>
    </div>
    <!-- legend end-->
    <div class="tab-pane fade" id="layerList" role="tabpanel" aria-labelledby="layerList-tab">
      <div class="tab-content-title">${i18n.layerList}</div>
    </div>
    <div class="tab-pane fade" id="guide" role="tabpanel" aria-labelledby="guide-tab">
      <div class="tab-content-title">${i18n.guide}</div>
      <ul>
        <li>Drag Pan</li>
        <li> Shift+Double-click Zoom out at the cursor</li>
        <li>Scroll forward Zoom in at the cursor</li>
        <li>Scroll backward Zoom out at the cursor</li>
        <li>Right-click+Drag 2D-rotate</li>
        <li>Shift+Left-click+Drag Zoom to extent of drawn graphic</li>
        <li>Arrow Keys Nudge the view to left, right, up or down</li>
        <li>N Adjust the view to point north</li>
        <li>A Rotate the view counterclockwise</li>
        <li>D Rotate the view clockwise</li>
        <li>+ Incrementally zoom in at the center of the map</li>
        <li>- Incrementally zoom out at the center of the map</li>
      </ul>
    </div>

  </div>
</aside>