nav.navbar {
    padding-left: 0;
    padding-right: 0;
    .navbar-brand {
        padding-left: 20px;
        span {
            @media (max-width: 600px) {
                display: none;
            }
        }
    }
    #menuList {
        .nav-item .nav-link {
            padding-left: 15px;
            padding-right: 15px;
            i {
                margin-right: 8px;
                font-size: 14px;
            }
        }
    }
    .basemapGallery {
        margin-left: 5px;
        a {
            height: 32px;
        }
    }
    .dropdown-menu {
        border-radius: 0;
        i {
            font-size: 12px;
            margin-right: 5px;
        }
    }
    #rightMenu {
        @media (max-width: 991px) {
            flex-direction: row;
            position: absolute;
            right: 54px;
            top: 8px;
        }
        @media (max-width: 600px) {
            left: 50px;
        }
        .nav-item {
            @media (max-width: 600px) {
                flex-grow: 1;
            }
            .nav-link {
                padding-left: 20px;
                padding-right: 20px;
                position: relative;
                @media (max-width: 600px) {
                    padding-left: 0px;
                    padding-right: 0px;
                    text-align: center;
                }
                .badge {
                    position: absolute;
                    top: -3px;
                    right: 0px;
                    @media (max-width: '600px') {
                        right:auto;
                    }
                }
            }
        }
        .dropdown-menu {
            font-size: 14px;
            right: 0;
            left: auto;
            @media (max-width: 991px) {
                position: absolute;
                right: 0;
                left: initial;
            }
            @media (max-width: 600px) {
                position: fixed;
                right: 0;
                left: 0;
                top: 50px;
                z-index: 9999;
                max-height: calc(100% - 56px);
                overflow: auto;
                width: 100%;
            }
            &.notification-panel {
                width: 300px;
                padding: 0;
                @media (max-width: 600px) {
                    width: 100%;
                }
                >div {
                    border-bottom: 1px solid #ececec;
                    &:last-child {
                        border-bottom: none;
                    }
                }
                .notification-header {
                    padding: 10px;
                    font-size: 12px;
                    font-weight: 500;
                    color: #8ca6bf;
                }
                .notification-body {
                    ul {
                        padding-left: 0;
                        list-style: none;
                        li {
                            display: flex;
                            align-items: center;
                            border-bottom: 1px solid #ececec;
                            padding: 5px 0;
                            cursor: pointer;
                            &:last-child {
                                border-bottom: none;
                            }
                            &:hover {
                                background-color: #f7f7f7;
                            }
                            .notif-icon {
                                font-size: 16px;
                                width: 50px;
                                text-align: center;
                                i {
                                    padding: 6px;
                                    border-radius: 50%;
                                    font-size: 14px;
                                }
                            }
                            .notif-content {
                                flex-grow: 1;
                                padding-right: 10px;
                                width: calc(100% - 50px);
                                .notif-title {
                                    font-weight: 700;
                                    color: #42678c;
                                    font-size: 12px;
                                }
                                .notif-details {
                                    font-size: 12px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    color: #4c6884;
                                }
                                .notif-date {
                                    font-size: 11px;
                                    color: #9dacbb;
                                }
                            }
                        }
                    }
                }
                .notification-footer {
                    padding: 10px;
                    text-align: center;
                    text-decoration: none;
                }
            }
            &.user-panel {
                width: 200px;
                @media (max-width: 600px) {
                    width: 100%;
                }
                .user-profile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .img-user {
                        width: 50px;
                        .img-container {
                            width: 25px;
                            height: 25px;
                            margin: auto;
                            img {
                                object-fit: cover;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                        }
                    }
                    .user-details {
                        width: calc(100% - 50px);
                        .user-name {
                            font-weight: 500;
                            color: #25425f;
                            line-height: 1;
                        }
                        .user-role {
                            font-size: 11px;
                            color: #abb3bb;
                        }
                    }
                }
            }
            &.search-Container {
                @media (max-width: 600px) {
                    overflow: visible;
                }
                .searchGeo .esri-search {
                    @media (max-width: 600px) {
                        width: 100%;
                    }
                }
            }
            /*
            &.search-Container {
                top: 0;
                padding: 0;
                right: 0;
                min-width: 0; 
                .searchGeo {
                    opacity: 0;
                    @include transition(all 2s);
                }
                &.show .searchGeo {
                    opacity: 1;
                }
            }*/
        }
    }
    .navbar-toggler {
        margin-right: 5px;
        padding: .1rem .50rem;
    }
}

// right to left styling 
// this will be used when changing the language to Arabic
.rightToLeft {
    nav.navbar {
        flex-direction: row-reverse;
        .navbar-brand {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            i {
                margin-left: 10px;
            }
        }
        .navbar-toggler {
            margin-right: 0;
            margin-left: 5px;
            padding: .25rem .75rem;
        }
        #menuList {
            @media (min-width: 992px) {
                flex-direction: row-reverse;
            }
            .dropdown-menu {
                right: 0;
                left: auto;
            }
            .nav-item {
                @media (max-width: 991px) {
                    text-align: right;
                }
            }
        }
        #rightMenu {
            flex-direction: row-reverse;
            @media (max-width: 991px) {
                left: 54px;
            }
            @media (max-width: 991px) and (min-width: 601px) {
                right: auto;
            }
            .dropdown-menu {
                left: 0;
                right: auto;
            }
        }
        .dropdown-menu {
            text-align: right;
            &.notification-panel ul li,
            .user-profile,
            .dropdown-item {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
            }
            .dropdown-item i {
                margin-left: 5px;
            }
            .notif-content {
                padding-left: 10px;
                padding-right: 0;
            }
            .esri-search__input {
                text-align: right;
            }
        }
    }
}